/* MAIN CSS STYLE */ 

/* ***************************DEBUG*************************** */ 
/* uncomment these to debug*/
/*a, ul, section, img, p{
  border: 2px solid;
  border-color: orange; 
}*/

/* ########################################################### */






/* *****************STYLE COMMON TO ALL PAGES***************** */
/* ---------------------------BODY---------------------------- */
/* html page height to include an empty space at the bottom */
html{
  height: auto;
}
/* body black background color */ 
body{ 
  background-color: white;
}
/* selected text color */
::selection{
  background: #FF6600;
}
::-moz-selection{
  background: #FF6600;
}

/* --------------------------TEXT----------------------------- */
@font-face {
    font-family: 'roboto_monoregular';
    src: url('robotomono-regular-webfont.woff2') format('woff2'),
         url('robotomono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

p, a{
  font-family: 'roboto_monoregular';
}

/* --------------------------MENU----------------------------- */
iframe#Menu{
  position: relative;
  background: none transparent;
  border-color: transparent; /* use orange as markup then change to transparent*/ 

  width: 100%;
  height: 15%;
  min-height:80px;
  margin-top: -40px;
  margin-left: -20px;
}

h5#Menu{ 
  float: left;
  padding:0;
  text-align: left;
  width: 100%;
}

a#Menu{
  color: black;
  /*font-family: 'roboto_monoregular'; */
  font-size: 14px;
  text-decoration: none;
  margin-left: 12px;
  margin-right: 12px;
  word-wrap: break-word;
}
ul#Menu{
  margin-left: -22px;
}

/* *****************STYLE COMMON TO PAGES ONLY***************** */
/* --------------------------CONTENT----------------------------- */
section#Content{
  height:auto;
  margin-top: 30px;
  margin-left: 20px;
}
img#Content{
  float: left;
  margin-top: 0%;
  margin-left: 0%;
  margin-bottom: 40%;
  width: 166px;
  height: 166px;
  display: flex;
  -ms-object-fit: cover;
  -moz-object-fit: cover;
  -o-object-fit: cover;
  -webkit-object-fit: cover;
  object-fit: cover;
}
p#Content{
  /*margin-left: 3%;*/
  /*margin-top: -33%;*/
  display:inline-flex;
  width: 340px;
  font-size: 11px;
  padding:0;
  text-align: left;
  margin-left: 20px;
  position: absolute;
  word-wrap: break-word;
}
#Content.horizontal{
  width: 93%;
  float: left;
}

#Content.right{
  float: right;
}
#Content.left{
  float: left;
}
/* *****************STYLE COMMON TO PAGES ONLY***************** */
/* --------------------------LIST----------------------------- */
p#List{
  margin-left: 3%;
    /*margin-top: -33%;*/
  width: 47%;
  font-size: 11px;
  padding:0;
  text-align: left;
  /*position: relative;*/
  word-wrap: break-word;
}

/* *****************STYLE COMMON TO PAGES ONLY***************** */
/* --------------------------JOURNAL----------------------------- */
section#Journal{
  height:auto;
  margin-top: 30px;
  width: 240px;
  float: left;
  margin-bottom: 60px;
}
img#Journal{
  float: left;
  width: 200px;
  height: auto;
  margin-left: 20px; 
}
p#Journal{
  font-size: 10px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  float: left;
  width: 200px;
  text-align: left;
  word-wrap: break-word;
  position: relative;
}

/* --------------------EMPTY FOOTER-------------------------- */
/* id to add white empty space at the bottom of every page */
#Empty{
  position: relative;
  float: left;
  width: 100%;
  height:30px;
  color: transparent;
  background-color: white;

  margin-top: 0px;
  z-index: 1;

  /* disable text selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}








